.navbar-nav .nav-link.active {
    color:black
}

.content-container{
    height: 100vh;
    overflow-y: hidden;
}

a{
    color: black;
    text-decoration: none;
}

.full-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.div-relative{
    position: relative;

}

.bottom-link{
    position:absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
}

.text-right{
    text-align: end;
}