

  body{
      font-family: 'Helvetica', sans-serif;
  }

  .logo {
    display: flex;
    margin: 0 auto; /* Centers the logo horizontally */
    /* max-width: 100%; Limits the logo width to the screen width */
    height: 1000px; /* Maintains the aspect ratio */
    max-height: 1000px;
    max-width: 1400px;
  }

  .logo img{
    display: block;
    width: 100%;
    height: 100%;
  }
  
  
  /* Main nav styling*/
  nav{
      display: flex;
      height: 200px;
      width: 100%;
      background-color: #000000;
  }
  
